html{
  scroll-behavior: smooth;
}
body{
  margin:0px;
  padding:0px;
}
header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  background-color:black;
  box-shadow: 0px -11px 45px -7px rgba(255,255,255,0.35);
  margin:0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo{
  padding:20px;
  max-width:250px;
  height:auto;
}

.header-logo:hover{
  opacity: 0.9;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
}

.navigation-item {
  flex: 1;
}

.navigation-link {
  display:block;
  text-decoration:none;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #FFDE59;
  padding: 20px;
}

.navigation-link:hover {
  opacity: 0.5;
  text-decoration: overline;
  text-decoration-thickness: 2px;
}

.contact-h{
  font-family: "source-sans-pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.contact-description{
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.contact{
  margin: 30px;
  display: flex;
  justify-content: center ;
  flex-flow: column wrap;
}

label{
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.text{
  background-color: white;
  color: #242424;
  padding:0.5em 20vh 0.5em 0.5em;
  margin: 10px 0px;
  border:1px solid black;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

.text:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.text:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

.textarea {
  background-color: #ffffff;
  color: #454545;
  padding: 1em;
  margin: 10px 0px;
  border: 1px solid black;
  outline: none;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  width: 200px;
  height: 100px;
  transition: all 0.2s;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

button {


  font-family: "source-sans-pro", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 15px;
  padding:5px 5vh;
  margin:5px 0;
  background-color: #ffde59;
  color:black;
  border-radius: 40px;
}






.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  padding: 20px;
  font-family: "source-sans-pro", sans-serif;
}

.footer-left {
  flex: 1;
  font-weight: 500;
  font-style: normal;
}

.f-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.f-navigation-item {
  margin-bottom: 10px;
}

.f-navigation-link {
  text-decoration: none;
  color: white;
}

.f-navigation-link:hover {
  color: #9e9e9e;
}

.footer-right {
  text-align: right;
  font-weight: 300;
  font-style: normal;
}

.copyright {
  margin: 0;
  font-size: 14px;
  color: #9e9e9e;
}